/*html {
    background: #FFF8DC;
}*/

th {
  height: 95px;
  width: 95px;
  /* background-color: rgba(0, 0, 255, 0.67); Blue */
  /* background-color: rgba(0, 127, 0, 0.67); Green */
}

table.center {
    margin-left: auto;
    margin-right: auto;
}

h1 {
    text-align: center;
}

#navigationbar {
    text-align: center;
    font-family: Tahoma, sans-serif;
    word-spacing: 0.9EM;
    background-color: #DC143C;
}

.container .row .col-md-12 .navbar-brand {
    text-decoration: none;
    color: #2F4F4F;
}

.table-responsive {
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}