th {
  height: 100px;
  width: 100px;
  /* background-color: rgba(0, 0, 255, 0.67); Blue */
  /* background-color: rgba(0, 127, 0, 0.67); Green */
}

table.center {
    margin-left: auto;
    margin-right: auto;
}

h1 {
    text-align: center;
}